<mat-sidenav-container>
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="posts" routerLinkActive="active">Artículos</a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
        <mat-toolbar color="primary">
            <span>ONLINE STORE</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon " (click)="drawer.toggle()" routerLinkActive="active">
              <mat-icon>build</mat-icon>
          </button>
            <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon " routerLink="ventas" routerLinkActive="active">
              <mat-icon>local_grocery_store</mat-icon>
          </button>
        </mat-toolbar>
    </mat-toolbar>

      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
